.bio {
  grid-column: col-start / col-end 4;
  padding-right: 5rem;
  color: $color-md-grey;
  margin-top: 5rem;

  p {
    font-size: 1.6rem;
    line-height: 2.625rem;
  }

  h2 {
    margin-bottom: 2rem;
    font-weight: bold;
  }
}
