body {
  font-family: lato;
  color: $color-light-grey;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: min-content max-content max-content repeat(2, max-content);
  grid-template-columns:
    [full-start] minmax(min-content, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(min-content, 1fr)
    [full-end];
}
